:root {
    --primary-color: rgb(64, 47, 234);
    --secondary-color: rgb(253, 108, 225);
    --tertiary-color: rgb(174, 235, 254);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

/* header styling */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.view-high-scores {
    color: var(--secondary-color);
}

/* main styling */
main {
    text-align: center;
}

main h1 {
    margin: 20px 0;
    width: 100%;
    font-size: 30px;
}

main h2 {
    margin: 10px;
    width: 100%;
    font-size: 20px;
}

button {
    background-color: var(--primary-color);
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 10px;
    border-style: none;
}

.question {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.answer-list {
    list-style: none;
}

.answer {
    background-color: var(--primary-color);
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 5px;
    width: 100%;
}

.answer:hover {
    background-color: var(--secondary-color);
}

.answer-feedback {
    color: gray;
    margin: 20px;
    border-top: gray solid 1px;
}

.intials-input {
    display: flex;
    justify-content: center;
}

.intials-text,
.intials-textbox {
    padding: 5px 0px;
    margin: 10px 0px;
}
